{layout '../../../templates/@layout.latte'}

{block content}
    <div class="container py-5 text-center text-white">
        <h1>{$title}</h1>
        {if $noTeam}
            <p class="mt-4">You’re not in any team yet. <a n:href="Teams:create">Create one?</a></p>
        {/if}
    </div>
{/block}